<footer id="footer" class="bg-dark">
    <div class="container">
        <div class="row">

           <!-- <div class="col-12 col-md-5">
                <% include contact_form %>
            </div> -->
            <address class="col-12 col-md-6 addr text-white">
                <p class="h5 text-white ">ONAIDJUKU OIL AND GAS NIG LTD.</p>
                Head Office: 24 Udu Road Ovwian.<br>
                Email: onaidjukuoilandgas@gmail.com<br>
                Phone Number: +2348039489835
            </address>
            <div class="col-12 col-md-6 copywrite-info">
                    <p class="text-white copywrite"></p>
            </div>
        </div>
    </div>
</footer>