<footer id="footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <address class="col-12 col-md-6 addr text-white">
                <p class="h5 text-white ">ONAIDJUKU OIL AND GAS NIG LTD.</p>
                Head Office: 57 Udu Road Ovwian.<br>
                Email: onaidjukuoilandgas@gmail.com<br>
                Phone Number: +2348039489835
            </address>
            <div class="col-12 col-md-6 copywrite-info">
                <p class="text-white">&copy; ONAIDJUKU OIL AND GAS 2019. All right reserved.</p>
                <div class="btn-group" role="social media" arial-label="social media">
                    <button type="button" class="btn"><span class="fa fa-facebook"></span></button>
                    <button type="button" class="btn"><span class="fa fa-twitter"></span></button>
                    <button type="button" class="btn"><span class="fa fa-linkedin"></span></button>
                </div>
            </div>
        </div>
    </div>
</footer>