<section class="container pt-5 services">
    <div>
        <h4 class="text-center section-heading">PRODUCTS AND SERVICES</h4>
        <div class="row pt-5">
            <div class="col-12 col-md-3 card m-3">
                <img class="card-img-top" src="images/mobile_oil.jpg">
                <div class="card-body">
                    <h5 class="card-title">AGO</h5>
                    <p class="card-text">Sales and Supplies of Quality AGOs</p>
                </div>
            </div>
            <div class="col-12 col-md-3 card m-3">
                <img class="card-img-top" src="images/lng-bunkering-300x200_0.jpg">
                <div class="card-body mb-2">
                    <h5 class="card-title">BUNKERING</h5>
                    <p class="card-text">Real time and safe Bunkering operation, that conforms to industrial standard</p>
                </div>
            </div>
            <div class="col-12 col-md-3 card m-3">
                <img class="card-img-top" src="images/filing_station.jpg">
                <div class="card-body">
                    <h5 class="card-title">Filling station</h5>
                    <p class="card-text">Operation of multiple filling stations that are industry compliant.</p>
                </div>
            </div>
            <div class="col-12 col-md-3 card m-3">
                <img class="card-img-top" src="images/scaffolding-builder-scaffold-safety-blog.jpg">
                <div class="card-body">
                    <h5 class="card-title">General Contractors</h5>
                    <p class="card-text">We undergo projects of various proportion, including supply of equipments and 
                        merchandise to both onshore and offshore sites. </p>
                </div>
            </div>
            <div class="col-12 col-md-3 card m-3">
                <img class="card-img-top" src="images/fuel_supply.jpg">
                <div class="card-body">
                    <h5 class="card-title">Supply of diesel</h5>
                    <p class="card-text">Wherever your site is, we've got you cover</p>
                </div>
            </div>
            <div class="col-12 col-md-3 card m-3">
                <img class="card-img-top" src="images/diesel_supply.jpg">
                <div class="card-body">
                    <h5 class="card-title">PROCUREMENT</h5>
                    <p class="card-text">As a registered member of PPMC, we buy directly from depots.</p>
                </div>
            </div>
        </div>
    </div>
</section>