<section class="container pt-5 services mx-auto">
    <div>
        <h4 class="text-center section-heading">PRODUCTS AND SERVICES</h4>
        <div class="row pt-5">
            <div class="col-5 col-sm-3 card m-3">
                <img class="card-img-top" src="images/mobile_oil.jpg">
                <div class="card-body">
                    <h6 class="card-title">AGO</h6>
                    <p class="card-text">Sales and Supplies of Quality AGOs</p>
                </div>
            </div>
            <div class="col-5 col-sm-3 card m-3">
                <img class="card-img-top" src="images/lng-bunkering-300x200_0.jpg">
                <div class="card-body mb-2">
                    <h6 class="card-title">Bunkering</h6>
                    <p class="card-text">Real time & safe Bunkering operation, that conforms to industry standard</p>
                </div>
            </div>
            <div class="col-5 col-sm-3 card m-3">
                <img class="card-img-top" src="images/filling_station.jpg">
                <div class="card-body">
                    <h6 class="card-title">Filling station</h6>
                    <p class="card-text">Operation of multiple petrol stations that are industry compliant.</p>
                </div>
            </div>
            <div class="col-5 col-sm-3 card m-3">
                <img class="card-img-top" src="images/scaffolding-builder-scaffold-safety-blog.jpg">
                <div class="card-body">
                    <h6 class="card-title">General Contractors</h6>
                    <p class="card-text"> projects of various proportion, supply of equipments and 
                    to both onshore & offshore sites. </p>
                </div>
            </div>
            <div class="col-5 col-sm-3 card m-3">
                <img class="card-img-top" src="images/fuel_supply.jpg">
                <div class="card-body">
                    <h6 class="card-title">Supply of diesel</h6>
                    <p class="card-text">Wherever your site is, we've got you cover</p>
                </div>
            </div>
            <div class="col-5 col-sm-3 card m-3">
                <img class="card-img-top" src="images/diesel_supply.jpg">
                <div class="card-body">
                    <h6 class="card-title">Procurement</h6>
                    <p class="card-text">As a registered member of PPMC, we buy directly from depots.</p>
                </div>
            </div>
        </div>
    </div>
</section>