<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="css/pages.css">
    <% include partials/menu %>
    <main id="main-info">
        <section>
            <div class="jumbotron company_profile">
                <div class="container">
                    <h1 class="text-orange">Company Profile</h1>
                    <ul class="lead" style="list-style: none;">
                        <li>Category: Oil and Gas and General contractors</li>
                        <li>Operation: Sales, Haulage and Transportation</li>
                        <li>Country: Nigeria</li>
                        <li>Core values: Integrity, Excellence, and Professionalism. </li>
                    </ul> 
                </div> 
            </div>
            <article>
                <div class="container">
                    
                    <section class="row">
                        <div class="col-12 col-sm-12 col-md-8 mx-auto">
                                <h4 class="text-center">INTRODUCTION</h4>
                            <p>ONAIDJUKU NIG ENT is an onshore Oil and Gas service Company
                            that is registered with the corporate affairs commission CAC and also
                            with the department of of Petroleum resources DPR.We have our head office at 
                            Udu road with several offices located within the Niger Delta cluster.
                            </p>
                            <p>The company is managed by a young creative and dynamic personality
                                with over 10 years of experience in Haulage and transportation of 
                                petroluem products. Apart from his experience, he is also 
                                passionate, a goal getter and diven by excellence.
                            </p>
                            <p>The management of ONAIDJUKU NIG ENT possess local knowledge. It
                                understand the workings and apparent complexities of the petroleum 
                                depot operation in Nigeria, especially in the Niger Delta. Our knowledge
                                in this regard saves our clients a lot of downtime in their operation.
                            </p>
                            <p>ONAIDJUKU NIG ENT. and its partners have within their various offices
                                caliberated trucks, which includes: two 33,000 litres, two units of
                                15,000 litres and one unit of 45,000 litres trucks. Other equipments also 
                                includes pumping machines, caliberated meters and horses of various length 
                                and size.
                            </p>
                        </div>
                    </section>
                    <section class="row">
                        <div class="col-12 col-md-8 mx-auto">
                            <h4 class="text-center">INDUSTRY OVERVIEW</h4>
                            <p>Nigeria been regarded as the giant of Africa, and blessed with rich deposite of 
                                natural resources especially Crude, from which petroleum contributes about 80% of the total
                                budgetary revenue, and also accounts for 90% of all foreign exchange earnings and 36% of gross domestic product.
                            </p>
                        </div>
                    </section>
                    <section class="row">
                        <div class="col-12 col-md-8 mx-auto">
                            <h4 class="text-center">OUR TEAM</h4>
                            <p>Our Management team and manpower is headed by Evang. Onajite Sunday Idjuku the CEO/Managing director, with over 8 years of experience
                                in the petroleum product marketing industry which is one of the largest sub sector in the industry </p>
                                <p>Evang. Onajite Sunday Idjuku is a dynamic young, and innovative enterpreneur who is based in Warri Delta 
                                    state, and a graduate of Delta State University, Abraka, where he studied Business Administration.
                                </p>
                                <p>Other members of management our team also include:</p>
                                <ul>
                                    <li>Mrs Elohor Idjuku (Accountant)</li>
                                    <li>Happy Okodaso (Business Development Manager)</li>
                                    <li>Charles Otomewo (Supervisor)</li>
                                </ul>
                        </div>
                    </section>
                </div>
            </article>
        </section>
    </main>
    <%include partials/footer %>
    <% include partials/script %>
</body>
</html>
<body>
