<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meet us</title>
    <% include partials/head %>
    <link rel="stylesheet" href="css/pages.css">
    <% include partials/menu %>
</head>
<body style="background: #e9ecef;" >
    <main class="into">
        <article class="">
            <section class="container-fluid jumbotron">
                <div class="row">
                    <div class="col-12 col-md-8 mx-auto">
                        <h1 class="h4 text-center">Welcome to Onaidjuku Nigeria Enterprises</h1>
                        <p class="lead font-weight-bold">Tell us was we can do for you.</p>
                        <p class="text-orange font-weight-bold">Kindly fill out the form below.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <% include contact_form %>
                    </div>
                </div>
            </section>
        </section>
        <section class="container">
            <div class="row">
                <div class="container-fluid"> 
                   
                </div>
            </div>
        </section>
    </main>
    <%include partials/footer %>
    <% include partials/script %> 
</body>
</html>