<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include partials/head %>
    <link rel="stylesheet" href="css/pages.css">
    <% include partials/menu %>
</head>
<body>
    <main>
        <article class="container">
            <section class="row">
                <div class="col-12 col-md-10">
                    <h1 class="h3">Offshore Drilling Makes a Comeback After Years in Shale's Shadow</h1>
                    <p>By David Wethe and Rachel Adams-Heard</p>
                    <p>Offshore is ready for the limelight again.</p>
                    <p>After years in the shadow of the U.S. shale patch, deep-water explorers from 
                    Royal Dutch Shell Plc to Talos Energy Inc., along with
                    contractors such as Ensco Plc and TechnipFMC Plc, told investors at the 
                    Scotia Howard Weil Energy Conference in New Orleans this week they see a revival 
                    coming. That was a stark contrast to a subdued outlook for shale at the event.</p>
                     <p>“The offshore recovery is under way today,” Jon Baksht, chief financial officer at Ensco, 
                    told investors Tuesday at the conference. “This isn’t something that we’re waiting for.”</p>
                    <p class="h5">Turning the Boat Around</p>
                    <p>Offshore spending in 2019 should increase for the first time in five years</p>
                    <p>While U.S. shale remains a global hot spot, with multibillion-dollar investment plans from 
                    supermajors Exxon Mobil Corp. and Chevron Corp., independent producers have been under pressure 
                    from investors to focus on delivering returns rather than ambitious growth plans. At the same time, 
                    after nearly half a decade of consecutive spending cuts,
                     the offshore industry is expected to finally boost spending again to develop higher-gushing oil 
                     wells.</p>
                </div>
            </section>
        </article>
    </main>
    <%include partials/footer %>
    <% include partials/script %>
</body>
</html>