body {
    height: 100%;
}
main {
    width: 100%;
    height: auto;
}
#hero {
    background: url('../images/singaporlngdnui1510_comprs.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 350px;
    width: 100%;
    overflow: hidden;
    color: #ededed;
}
#banner {
    border-radius: 0;
}
#banner {
    height: 100%;
    background: rgba(0,0,0,0.7);
}
#hero .display-4 {
    font-size: 1.3rem;
}
#hero h3 {
    display: inline-block;
    color: #ccc;
}
#mid {
    background: #eee;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.petrol-tools {
    text-align: center;
}
.carousel-item {
}
#mission {
    padding-top: 50px;
}
a.outline {
    color: #fff;
    width: 150px;
    border-radius: 0;
    background: #f79722;
}
a.outline:hover {
    color: #ccc;
}

#operations {
    background: #111e2c;
    color: #ccc;
    padding: 50px 0;
}
.news {
    padding: 50px 0;
}
.section-heading {
    background: #111e2c;
    color: #ccc;
    padding: 5px;
}

#footer {
    min-height: 200px;
    padding-top: 70px;
    margin-top: 70px;
}

@media (max-width: 992px) {
    .navbar {
        padding: 0!important;
    }

    .navbar-nav {
        background: #111e2c;
        padding-bottom: 40px!important;
    }
    .navbar-nav li {
        border-bottom: 1px solid #f79722;
        padding: 0 2rem
    }
    .navbar-nav li:nth-child(4) {
        border: none;
    }
    .navbar-brand {
        margin-left: 2rem;
    }
}
.services h5 {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .navbar-nav li {
        margin-left: 1px soldi #f79722;
    }
}

.company_profile {
    background: url('../images/isuzu-rigid-fuel-tankers-id-59313174-type-main.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    color: #fff;
}
.services .card {
    padding-left: 0!important;
    padding-right: 0!important;
}
@media (max-width: 768px) {

    .services .card {
        border-bottom: 1px solid #ccc;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .services {
        padding: 1rem!important;
    }
    .services p {
        font-size: 0.875rem;
    }

    .services .card-title {
        margin-bottom: 0;
        font-weight: 500;
    }
}
@media (min-width: 768px) {
    .services {

    }
}
.services .card-title {
    margin-bottom: 0;
}
@media (max-width: 575px) {
    .services {
        background: #ccc;
    }
}
.text-orange {
    color: #f79722; 
}